body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: white;
}

.inner {
  width: 750px;
  margin: 0 auto;
  margin-top: 15px;
  border-color: red;
}

.boxes {
  display: inline-block;
  max-width: 30%;
  border: 1px solid white;
  padding: 5px 5px 5px 5px;
}

.background-photo {
  width: 100%;
  vertical-align: middle;
}

h1 {
  text-align: center;
}

